/**
 * Custom Styles here.
 *
 * ref：https://v1.vuepress.vuejs.org/config/#index-styl
 */

body
  font-size 17px

.sidebar-group-items
  font-size 16px

.home .hero img
  max-width 450px!important

h3
  position: relative;
  left: -8px;
  background-color: #fff1ed;
  padding: 8px !important;
  margin-top: 35px !important;
  border-radius: 6px 6px 0 0;
  a
    left: -10px;
    position: relative;

div[class*="language-"]
  background-color: #333333;

.theme-default-content code
  font-size: 0.9em;
  color: #000;
  background-color: rgba(27,31,35,0.075)

/*
 * Fix Copy Button moving when scrolling vertically
 */

div[class*="language-"] pre[class*="code-copy-added"]
  position: static

/** 
 * Darkmode color-fixes
 */

@media (prefers-color-scheme: light)
  :root
    --preTextColor: #fff;

@media (prefers-color-scheme: dark)
  :root
    --codeBgColor: #282c34;
    --preTextColor: #fff;
    --highlightedBgColor: rgba(0,0,0,0.66);
    --languageTextColor: rgba(255,255,255,0.4);
    --lineNumbersColor: rgba(255,255,255,0.3);

@media (prefers-color-scheme: dark)
  h3
    background-color: #563329;

@media (prefers-color-scheme: dark)
  .theme-default-content code
    color: #fff !important;
    background-color: #333 !important;

@media (prefers-color-scheme: dark)
  .el-tabs--border-card
    background-color: #18191b !important;
    border: 1px solid #191d24 !important;

@media (prefers-color-scheme: dark)
  .el-tabs__header
    background-color: #18191b !important;
    border: 1px solid #25272a !important;

@media (prefers-color-scheme: dark)
  .el-tabs__item.is-active
    background-color: #18191b !important;
    border-right-color: #25272a !important;
    border-left-color: #25272a !important;
